html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0);
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.7);
}

.navbar-default {
    background-color: rgba(3,18,37,1);
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    border: 0;
}

.navbar-transparent {
  background-color: rgba(3,18,37,0);
}

@media (max-width: 767px) {
    .navbar-transparent {
      background-color: rgba(3,18,37,1);
    }
}

.btn-join {
  color: #05beb2;
  font-weight: 700;
  background-color: white;
  border-color: #05beb2;
}

.btn-join:hover, .btn-join:focus, .btn-join:active {
  color: white;
  background-color: #05beb2;
}

.brand {
  height: 50px;
  width: 120px;
  background-image: url('../img/brand.png');
  background-size: 100px auto;
  background-position: center;
  background-repeat: no-repeat;
}

.navbar-default .navbar-nav > li > a {
  color: #02eec2;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #02aeee;
}

.home-bg {
  position: relative;
  top: -71px;
  margin-bottom: -71px;
}

.home-bg>img {
  width: 100%;
  height: auto;
  max-width: 100vw;
  max-height: 100vh;
}

.home-slogan {
  position: absolute;
  top: 30%;
  padding-left: 25%;
  font-family: 'Raleway', sans-serif;
  font-size: 6vw;
  text-align: center;
  color: #73fce7;
}

.separator {
  width: 100%;
  height: 15px;
  background: #00bbb1; /* For browsers that do not support gradients */
  background: linear-gradient(to right, #005f8d, #00bbb1);
}

.big-separator {
  width: 100%;
  height: 100px;
  padding-top:30px;
  padding-bottom: 30px;
  background: #00bbb1; /* For browsers that do not support gradients */
  background: linear-gradient(to right, #005f8d, #00bbb1);
}

.description {
  width: 100%;
  background: #091515;
  font-size: 18px;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
}

.home-icon {
  color: #0cbda9;
  font-size: 30px;
}

.features {
  padding-top: 30px;
}

.feature-box {
  height: 220px;
}

.video-box {
  padding-bottom: 20px;
}

.well-signin {
  max-width: 430px;
  margin: 0 auto;
}

.form-signin,
.form-signup {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signup .form-signup-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signup .form-signup-heading{
  margin-bottom: 10px;
}

.form-signup .form-control,
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin input[type="text"] ,
.form-signup input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signup input[type="email"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.with-header {
  background-color: #262B33;
}

.form-invite button,
.form-invite .form-group .form-control{
  margin-top: 15px;
  font-size: 16px;
}

.form-signup input:required:invalid, .form-signup input:focus:invalid {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4AocEiYcQpLp0QAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAAArUlEQVRIx+2W0Q6AIAhFxble+jS/l79rs6e2aqTgRXsoHhtyuFdkhfDHpCDvglvORfqemC+sOAMqNmIteO/cCjRZLRVOzKQFSs2Sl3UWqPsda6GQ1b1Ak2JNoXNuWRdyf8ca9W6KrZYfeTXlNGI5aJRHBNqytNZsRKGWwXN5x601Ck3106rU5nctECtUOgsP17QfAUStVrX7ytSeIWRAkHjtjqO3xTB4JPSPb8QOzf5ilhpbrTYAAAAASUVORK5CYII=');
  background-position: right center;
  background-repeat: no-repeat;
  -moz-box-shadow: none;
}

.form-signup input:required:valid {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4AocEikZtWABkQAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAABIUlEQVRIx+3WIUsEQRjG8f+ja1w41CRi0CImoyDCBf0A+gHEYFK0XxaLcvgNtNj8BhY1G66dxWIz2B6DKNxa5mBYDtPOgLBP2WUG3h/v7szsQps2iaKkxc0CsAksVSX9PB2ZnsydzHIucE5mIFPJbOVC92Qc0ONc6EkAK5kXmSI1OC1zGaGvMjs5Or2WGUXofA60H3X6JtPJgZ5GaCWzkQM9iMCRzG4OtCvzFcFnTRWeCddiwtyKzE+EPjTZ0bnMusyVzGw0XsgMo8f7KbPYJHwo8x2A9/FZK/OcdDHJdMLWGANPMkc1tJdqAW3XoFF0P0h6HMrc1/AqvIK1JupP/TF3O2HspioZpt6vq7VuP2TKXJ+6fZkLmUeZbvun2OZf5BdFrbkflmHqLQAAAABJRU5ErkJggg==');
  background-position: right center;
  background-repeat: no-repeat;
}

#content {
  flex: 1;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #495560;
}

.footer {
  background-color: #262c31;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.footer ul {
  list-style-type: none;
  padding: 0;
  font-size: 14px;
  margin-top: 15px;
}

.footer a {
  color: white;
}

.footer a:hover {
  color: white;
}

.footer .title {
  border-bottom: 1px solid;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  padding: 40px 0 10px;
  text-transform: uppercase;
}

#cookie-alert {
  pointer-events: none;
  width: 100%;
  position: fixed;
  top:0;
  left: 0;
  text-align: center;
  opacity: 0.95;
  z-index: 1260;
}

#cookie-alert>div {
  pointer-events: auto;
  display: inline-block;
  padding: 5px 25px 5px 5px;
  margin: 0 auto;
  text-align: center;
}


.twitter {
  background: url('../img/icons/twitter_logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 14px;
  display: inline-block;
  margin-top: 5px;
}

.mail {
  background: url('../img/icons/mail.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 14px;
  display: inline-block;
  margin-top: 5px;
}


