/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */

html {
  position: relative;
  min-height: 100%;
}

body {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

/*
 * Global add-ons
 */

a {
  cursor: pointer;
}

.clickable {
  cursor: pointer;
}

.clickable > *{
  pointer-events: none;
}

.tooltip {
  pointer-events: none;
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.font-small {
  font-size: 12px;
}

.font-normal {
  font-size: 13px;
}

.font-large {
  font-size: 14px;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */

.navbar-fixed-top {
  border: 0;
}

#user-header .container-fluid {
  padding-left: 0px;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  font-size: 16px;
}

@media (max-width: 767px) {
  #user-header .dropdown {
    text-align: right;
  }

  #user-header .dropdown-menu {
    text-align: right;
  }
}

@media (max-height: 767px) {
  #user-header .dropdown {
    text-align: right;
  }

  #user-header .dropdown-menu {
    text-align: right;
  }
}

/*
 * Sidebar
 */

.brand {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 50px;
  width: 120px;
  background-image: url('../img/brand.png');
  background-size: 100px auto;
  background-position: center;
  background-repeat: no-repeat;
}

.brand-black {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 50px;
  width: 120px;
  background-image: url('../img/brand-black.png');
  background-size: 100px auto;
  background-position: center;
  background-repeat: no-repeat;
}

.side-menu {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: -284px;
  width: 400px;
  display: block;
  padding: 65px 20px 20px 10px;
  overflow-y: hidden;
  overflow-x: hidden;
  color: #eee;
  background-color: #262c31;
  border-right: 1px solid #262c31;
  z-index: 1000;
  transition: left 0.1s;
}

.side-menu:hover {
    transition: 0.3s;
    left:0px;
}

.side-menu:hover .side-menu-content{
    opacity: 1;
    transition: 0.3s;
}

.side-menu:hover .side-menu-tabs{
    opacity: 1;
    transition: 0.3s;
}

.side-menu a {
  color: #eee;
}

.side-menu-toolbar {
    position:absolute;
    top: 50px;
    height: 50px;
}

.side-menu-tabs {
  opacity: 0;
  position:absolute;
  top: 100px;
  height: 40px;
  width: 370px;
}

.side-menu-tabs .nav-tabs>li>a {
  border-radius: 2px;
  border: 0px;
}

.side-menu-tabs .nav-tabs>li.active>a {
  border-radius: 2px;
  border: 0px;
}

.side-menu-tabs .nav-tabs>li>a:hover {
  background-color:rgba(255,255,255,0.1);
}

.side-menu-tabs .nav-tabs>li.active>a:hover {
  color: #eee;
  background-color:rgba(255,255,255,0.1);
}

.side-menu-content {
  opacity: 0;
  position:absolute;
  top: 140px;
  bottom: 40px;
  width: 376px;
  padding-right: 6px;
  overflow-y: auto;
  overflow-x: auto;
}

.side-menu-content .action-icon {
  float: right;
  width: 15px;
  height: 35px;
  color: #555;
  margin-right: 10px;
  padding: 10px 0px 10px;
  transition: opacity 0.3s;
}

.side-menu-content .action-icon:hover {
  color: white;
  transition: color 0.3s;
}

.side-menu-footer {
  position: absolute;
  bottom: 0px;
  height: 40px;
  padding: 10px;
  color: #eee;
  font-size: 11px;
}

.side-menu-footer-brand {
  color: #00FF00;
  font-family: "Courier New", Courier, monospace;
}

.side-config-menu {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 116px;
  display: block;
  padding: 65px 20px 20px 10px;
  overflow-y: auto;
  overflow-x: hidden;
  color: #eee;
  background-color: #262c31;
  border-right: 1px solid #262c31;
  z-index: 1000;
}

.side-config-menu a {
  color: #eee;
}

.sidebar-right {
  position: fixed;
  top: 50px;
  bottom: 0px;
  right: 0px;
  display: block;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #FCFCFC;
  padding: 0px 6px 0px 0px;
  border-left: 1px solid #ccc;
}

/*This will work for firefox*/
@-moz-document url-prefix() {
  .sidebar-right{
    padding: 0px 15px 0px 0px;
  }
}

.sidebar-right:hover {
  overflow-y: scroll;
}

/*
 * Config content
 */

.config-main {
  margin-left: 116px;
}

/*
 * Main content
 */


::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0);
    border-radius: 3px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.7);
}

.main {
  position: fixed;
  top: 0px;
  bottom: 0px;
  display: block;
  padding: 10px 6px 10px 116px;
  margin-top: 51px;
  overflow-x: hidden;
  overflow-y: scroll; /*Scrollable contents if viewport is shorter than content.*/
  background-color: #FCFCFC;
  /*border-left: 1px solid #eee;*/
}

/*This will work for firefox*/
@-moz-document url-prefix() {
  .main {
    padding: 10px 15px 10px 116px;
  }
}

.main:hover {
  overflow-y: scroll;
}

.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  padding-top:10px;
  background-color: #FCFCFC;
}

.footer .motto {
  font-family: sans-serif;
  font-size: 11px;
}

/*
*  Dashboard related styles
*/

.grid-element {
    position: absolute;
}

/*
*  Slides related styles
*/

.Slide {
  margin: 5px;
  background-color: white;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  border-radius: 2px;
}

.Slide:hover .SlideBarIcon {
    opacity: 1;
    transition: opacity 0.3s;
}

.Slide:hover .dp-stats {
    opacity: 0;
    transition: opacity 0.3s;
}

.Slide:hover .ds-info {
    opacity: 0;
    transition: opacity 0.3s;
}

.Slide:hover .visual-bar {
    opacity: 1;
    transition: opacity 0.3s;
}

.Slide:hover {
  z-index: 1000;
}

.SlideBar {
  padding: 5px 0px 5px 0px;
  font-size: 15px;
}

.SlideBarIcon {
  opacity: 0;
  transition: opacity 0.1s;
  color: #aaa;
  cursor: pointer;
}

.SlideBarIcon:hover {
  color: black;
}

.visual-bar {
  opacity: 0;
  transition: opacity 0.1s;
}

.visual-bar .btn-group {
    margin-top: 5px;
}

.widget {
  padding: 1px 5px 1px 5px;
  min-height: 305px;
}

.widget-anomaly {
  -webkit-box-shadow: 0px 0px 6px rgba(255, 0, 0, 0.3), 0px 0px 20px rgba(255,0,0,0.3) inset;
  box-shadow: 0px 0px 6px rgba(255, 0, 0, 0.3), 0px 0px 20px rgba(255,0,0,0.3) inset;
}

.snapshot {
  padding: 1px 5px 1px 5px;
  min-height: 305px;
}

.datapoint {
  cursor: pointer;
  font-weight: bold;
}

.variable {
  cursor: pointer;
}

.dp-stats {
  opacity: 1;
  position: absolute;
  float: right;
  z-index: 100;
  background-color: rgba(255,255,255,0.8);
  margin: 5px;
  margin-left: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 12px;
  pointer-events: none;
  transition: opacity 0.1s;
}

.ds-info {
  position: absolute;
  top:0px;
  right:0px;
  font-size: 15px;
  font-weight: bold;
  margin: 4px 5px 5px 0px;
  padding: 3px;
  pointer-events: none;
}

.ds-content {
  font-family: "Courier New", Courier, monospace;
  overflow-x: scroll;
  white-space: nowrap;
  min-height: 270px;
  max-height: 670px;
  margin-top: 10px;
}

.datapoint-table {
  overflow-x: scroll;
}

.color-tag {
  display: inline-block;
  width: 15px;
  border-radius: 1px;
}

.modal-dp-title {
  font-weight: bold;
  font-style: italic;
}

.modal-ds-content {
  font-family: "Courier New", Courier, monospace;
  overflow-x: auto;
  overflow-y: auto;
  padding: 5px;
  white-space: nowrap;
  max-height: 300px;
  min-height: 100px;
  background: #eee;
}

.modal-ds-var:hover {
  font-weight: bold;
}

.modal-ds-var-selected {
  font-weight: bold;
  background: #04B431;
  border-radius: 2px;
}

.modal-ds-var-negated {
  text-decoration: line-through;
}

.variable-feedback-popover .popover-content {
  padding: 0;
  max-height: 250px;
  overflow-y: scroll;
  overflow-x: hidden;
}

/*
*  D3 related styles
*/

.Slide .overlay {
    fill: none;
    pointer-events: all;
}

.Slide .x-axis path,
.Slide .x-axis line {
    fill: none;
    stroke: #aaa;
    shape-rendering: crispEdges;
}

.Slide .x-axis text {
    fill: #aaa;
}

.Slide .y-axis path.domain,
.Slide .y-axis line {
    fill: none;
    opacity: 0;
}

.Slide .y-axis text {
    fill: #aaa;
}
.Slide .grid path {
    stroke-width: 0;
}

.Slide .grid line {
    fill: none;
    stroke: #aaa;
    stroke-width: 0.4;
}

/* 
  User Events
*/

.user-events {
  list-style: none;
  padding: 0px;
  position: relative;
}

.update-panel {
  position: absolute;
  padding: 0px 10px 0px 10px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.user-event {
  padding:15px 5px 15px 5px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  position: relative;
}

.user-eent:hover {
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.175);
  border: 1px solid #aaa;
}

.user-event:hover .user-event-title-icon{
  visibility: visible;
}

.user-event-id-icon {
  position: relative;
  top: 0px;
  left: 0px;
  font-size: 35px;
  float:left;
  margin-right: 5px;
  color: #aaa;
}

.user-event-title {
  font-size: 16px;
  color: #444;
  padding-left: 40px;
}

.user-event-title-icon {
  visibility: hidden;
  color: #aaa;
}

.user-event-subtitle {
  color: #aaa;
  font-size: 12px;
  padding-left: 40px;
}

.user-event-body {
  margin: 10px 17px 0px;
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: break-word;
}

.user-event-body a {
  color: #444;
  font-weight: bold;
}

.user-event-summary {
  margin: 10px 17px 10px;
}

.user-event-summary .x-axis path,
.user-event-summary .x-axis line {
    fill: none;
    stroke: #aaa;
    shape-rendering: crispEdges;
}

.user-event-summary .x-axis text {
    fill: #aaa;
}

.user-event-summary .overlay {
    fill: none;
    pointer-events: all;
}

.user-event-summary .y-axis path.domain,
.user-event-summary .y-axis line {
    fill: none;
    opacity: 0;
}

.user-event-summary .y-axis text {
    fill: #aaa;
}
.user-event-summary .grid path {
    stroke-width: 0
}

.user-event-summary .grid line {
    fill: none;
    stroke: #aaa;
    stroke-width: 0.4;
}

.user-event-summary .ds-line {
    font-family: "Courier New", Courier, monospace;
    cursor: pointer;
}

.user-event-summary .cursor-pointer {
    cursor: pointer;
}

/* Modal Styling */

.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
  border-radius: 2px;
}

.modal-backdrop {
  z-index: 1100;
}

.modal {
  z-index: 1200;
}

.modal-body {
  word-wrap: break-word;
}

/* 
    Navigation Tree
                    */

.tree-item {
  cursor: pointer;
  background-color: #262c31;
  line-height: 35px;
  position: relative;
}

.tree-item:hover {
  background-color:rgba(255,255,255,0.1);
}

.tree-item-enter {
  opacity: 0;
}

.tree-item-enter.tree-item-enter-active {
  opacity: 1;
  transition: opacity 0.5s;
}

.tree-item-leave{
  opacity: 1;
}

.tree-item-leave.tree-item-leave-active {
  opacity: 0;
  transition: opacity 0.1s;
}

.list-item {
  cursor: pointer;
  background-color: #262c31;
  line-height: 35px;
  position: relative;
  padding-left: 15px;
}

.list-item:hover {
  background-color:rgba(255,255,255,0.1);
}

.list-item-active {
  background-color:rgba(255,255,255,0.2);
  line-height: 35px;
  position: relative;
  padding-left: 15px;
}

.list-item-active:hover {
  background-color:rgba(255,255,255,0.1);
  color: #eee;
}

.menu-list {
  list-style-type: none;
  padding:0px;
}

.shared-list {
  list-style-type: none;
  padding:0px 0px 0px 12px;
  border-top:solid white 1px;
}

.shared-list:first-child {
  list-style-type: none;
  padding:0px 0px 0px 12px;
  border-top: none;
}

.shared-list-user {
  line-height: 35px;
  font-size: 16px;
}

.shared-list-user-name {
  padding-left: 12px;
}

.key-header {
  line-height: 35px;
  font-size:16px;
  padding:0px;
}

.key-list {
  padding: 0px;
}

.key-list-item {
  list-style-type: none;
  line-height: 35px;
}

.key-list-item:hover {
  background-color:#F2F2F2;
}

.key-list-item-buttons {
  margin-top:10px;
  line-height: 35px;
  visibility: hidden;
}

.key-list-item:hover .key-list-item-buttons {
  visibility: visible;
}

.key-row-item {
  margin: 10px 10px 0px 0px;
  padding: 3px 3px 3px 5px;
  display: inline-block;
  word-break: break-word;
}

.label-user {
  background-color: white;
  color: grey;
  font-size: 12px;
}

.label-user:hover {
  background-color: grey;
  color: white;
  font-size: 12px;
  transition: background-color 150ms ease, color 150ms ease;
}

.key-row-item-buttons {
  padding:1px 1px 1px 5px;
  visibility: hidden;
  opacity:0;
}

.key-row-item:hover .key-row-item-buttons {
  visibility: visible;
  opacity: 1;
  transition: opacity 150ms ease;
}

.plan-allowed-selected {
  border-color: green;
  border-width: 2px;
  cursor: pointer;
}

.plan-allowed-selected > .caption {
  background-color: #eee;
}

.plan-allowed {
  border-width: 2px;
  cursor: pointer;
}

.plan-allowed > .caption {
  background-color: #eee;
}
.plan-allowed:hover {
  border-width: 2px;
  cursor: pointer;
}

.card-form {
  border-width: 2px;
  background-color: #eee;
}
  
/* 
  Alert Area 
             */

.alert-area {
    z-index: 1050;
    width: 100%;
    position: fixed;
    top:0;
    text-align: center;
}

.alert-area>div {
    display: inline-block;
    padding: 5px;
    margin: 0 auto;
    text-align: center;
}
